---
layout: default
title: Joseph Davis - About
subtitle: Here's a little bit about myself
---
{% include subpage-header.html %}

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Who I am</h2>
            <p>Ever since I can remember I've always had an fascination with Computers. </p>
          </div>
          <p>Meet Joseph Davis, a highly skilled and self-taught designer, developer, and IT technician with a passion for all things in computing. With a background in C++ programming, he has expanded his knowledge to include Java, JavaScript, HTML, SQL, and PHP. Joseph began his journey in programming at the age of 17 while still in high school, and since then, he has continued to hone his skills and stay up-to-date with the latest technologies. He is a self-motivated professional with a strong desire to continuously improve and grow in his profession. In the near future, Joseph plans to become an active open-source contributor, further demonstrating his dedication to the field and commitment to excellence.</p>
 <p>Joseph is a highly adaptable professional, constantly seeking out new technologies and ways to improve his skills and problem-solving abilities. His ability to think on his feet and stay ahead of the curve has been a key asset throughout his career, and he is always looking for ways to push himself further and stay at the forefront of his field.</p>
<p>In his free time, Joseph Davis enjoys reading, with a particular interest in science fiction and nonfiction genres. He also writes, focusing on short prompt writings online. Additionally, he enjoys building and repairing PCs, both old and new, as a hobby.
 </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>MY DESIGN PHILOSOPHY</h2>
        <p>Design is about making sophisticated solutions to communicate client's needs. The difficult situation is that most frequently we are planning for humans, and humans are complex. People's expectations and desires change at time. Sometimes innovation evolves to  satisfy those changes, sometimes design is the driver of the change. Regardless, the creator's job is never made. This does not mean the design wants to be trendy, design may be timeless, but the good designer has one tendency toward iteration and usually gets their attention to the ground.</p>
        <p>"Human-centered design is a design philosophy. It means starting with a good understanding of people and the need that the design is intended to meet. This understanding comes about primarily through observation, for people themselves are often unaware of the difficulties they are encountering."
</p>
        <p>Design thinking is an approach to creative problem solving that is widely recognized as a valuable course to human-centered product innovation. It has been called a methodology, a culture, and philosophy. Design thinking, fundamentally, recognizes that design should achieve purpose and business goals, not just beauty.
</p>

        <a href="portfolio.html" class="btn btn-view-works">View my Work</a>
      </div>
    </div>
  </div>
</section>


{% include call-to-action.html %}
