    <!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>I design delightful digital experiences.</h2>
              <p>Read more about what I do and my philosophy of design. Judge for yourself The work and results we’ve achieved for other clients.</p>
              <a class="btn btn-default btn-call-to-action" href="contact.html" >Tell me what you want!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
